/*-------------------------------------------------------------------
:: Common SCSS
-------------------------------------------------------------------*/
html {
  scroll-behavior: smooth;
  font-family: 'Sofia Pro Light'; }

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  line-height: 2;
  color: #272829;
  background-color: #fff;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased; }

@media screen and (max-width: 767px) and (min-width: 320px) {
  body {
    font-size: 0.8rem; } }
::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-track {
  background: var(--blue-color); }

::-webkit-scrollbar-thumb {
  background: var(--light-red); }

/* ----------------------------------------------------------
:: Mixin CSS
---------------------------------------------------------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.bg-banner-size, .banner-img-1 {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.banner-img-1 {
  background-image: url(../images/banner/banner-img-1.jfif); }

/* ----------------------------------------------------------
:: Common CSS
---------------------------------------------------------- */
:root {
  --dark-yellow:#fdc648;
  --light-yellow:#fdbd4d;
  --light-arange:#fb9c43;
  --dark-arange:#f4a261;
  --blue-color:#1b6dc1;
  --black-color:#242424;
  --gray-color:#757575;
  --white-color:#fff;
  --darkgray-color:#2b2b2b; }

/* Class */
.gray-color {
  color: var(--gray-color); }

.darkgray-color {
  color: var(--darkgray-color); }

.bulishblack-color {
  color: var(--blue-color); }

.black-color {
  color: var(--black-color); }

.tealblue-color {
  color: var(--blue-color); }

.goldenochre-color {
  color: var(--dark-yellow); }

.sandybrown-color {
  color: var(--dark-arange); }

.whitesmoke-color {
  color: var(--white-color); }

.bg-goldenochre-color {
  background-color: var(--dark-yellow); }

.bg-tealblue-color {
  background-color: var(--blue-color); }

.bg-banner-size, .banner-img-1 {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.before-after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.red-color {
  color: #dc3545; }

.green-color {
  color: #198754; }

.unit-spacing-xs > * {
  margin-bottom: 10px;
  margin-left: 10px; }

.icon-sm {
  font-size: 2.5rem; }

.section-title {
  margin-bottom: 30px; }
  .section-title h2 {
    font-size: 2.3rem;
    color: #0341a7;
    font-weight: 600;
    text-transform: capitalize;
    background: -webkit-linear-gradient(#194792, #011b46);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparen; }

::selection {
  color: var(--white-color);
  background: var(--blue-color); }

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  color: var(--black-color);
  text-decoration: none; }
  a:hover, a:focus {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    color: var(--blue-color); }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--blue-color);
  margin: 0;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  line-height: 1.5em;
  /* font-weight: normal; */
  font-family: 'Sofia Pro SemiBold'; }

.text-justify {
  text-align: justify; }

.btn:focus {
  outline: none;
  box-shadow: none;
  text-decoration: none; }

.btn-property {
  padding: 0.75em 0.75em;
  position: relative;
  border-radius: 3px;
  z-index: 1;
  overflow: hidden;
  min-width: 170px;
  text-transform: uppercase; }

/* Section CSS */
.section {
  position: relative;
  overflow: hidden;
  z-index: 1; }

.section-sm {
  padding: 100px 0; }
  @media screen and (max-width: 992px) and (min-width: 320px) {
    .section-sm {
      padding: 60px 0; } }

.section-xs {
  padding: 60px 0; }

.img-wrap {
  height: 450px;
  overflow: hidden; }
  @media only screen and (max-width: 600px) {
    .img-wrap {
      height: 250px; } }
  @media only screen and (min-width: 600px) {
    .img-wrap {
      height: 300px; } }
  @media only screen and (min-width: 1200px) {
    .img-wrap {
      height: 450px; } }
  .img-wrap img {
    height: 100%;
    object-fit: contain; }

/*------------------button--------------------*/
.default-btn {
  font-size: 16px;
  color: white;
  line-height: 1;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-table;
  padding: 18px 30px;
  font-weight: 600;
  background-color: var(--dark-yellow);
  border-radius: 10px;
  border: none; }
  .default-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: -1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s; }
  .default-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: -1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    -webkit-transform: scaleY(0);
    transform: scaleY(0); }
  @media screen and (max-width: 767px) and (min-width: 320px) {
    .default-btn {
      padding: 8px 12px;
      font-size: 14px; } }
  @media screen and (max-width: 992px) and (min-width: 767px) {
    .default-btn {
      padding: 18px 30px;
      font-size: 16px; } }
  .default-btn:hover {
    color: #fff; }
    .default-btn:hover:before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }
    .default-btn:hover:after {
      -webkit-transform: scaleY(1);
      transform: scaleY(1); }

/* ----------------------------------------------------------
:: Classy Navbar
---------------------------------------------------------- */
.inner-page-bg-top .header-inner {
  position: relative; }

.page-bg-top {
  position: relative; }
  .page-bg-top header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1024;
    /* ============ only desktop view ============ */
    /* ============ desktop view .end// ============ */ }
    .page-bg-top header .navbar {
      transition: 500ms ease;
      background: #0000003d;
      padding: 0.7em 0;
      margin: 0; }
      .page-bg-top header .navbar .navbar-brand .logo {
        width: 70px;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        @media screen and (max-width: 600px) {
          .page-bg-top header .navbar .navbar-brand .logo {
            width: 35px; } }
        @media only screen and (min-width: 600px) {
          .page-bg-top header .navbar .navbar-brand .logo {
            width: 40px; } }
        @media only screen and (min-width: 992px) {
          .page-bg-top header .navbar .navbar-brand .logo {
            width: 55px; } }
        @media only screen and (min-width: 1200px) {
          .page-bg-top header .navbar .navbar-brand .logo {
            width: 70px; } }
      @media (max-width: 992px) {
        .page-bg-top header .navbar .navbar-collapse .navbar-nav {
          overflow-y: scroll;
          height: auto; } }
      .page-bg-top header .navbar .navbar-collapse .navbar-nav .nav-item {
        list-style: none;
        margin-right: 30px;
        position: relative;
        transition: all 0.3s ease-in-out;
        display: inline-block;
        vertical-align: middle; }
        @media (max-width: 600px) {
          .page-bg-top header .navbar .navbar-collapse .navbar-nav .nav-item {
            margin-right: 0; } }
        .page-bg-top header .navbar .navbar-collapse .navbar-nav .nav-item:last-child {
          margin-right: 0px !important; }
        .page-bg-top header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
          color: var(--white-color);
          font-size: 0.9rem;
          display: block;
          line-height: 30px;
          font-weight: 600;
          padding: 15px 0;
          opacity: 1;
          text-align: center;
          text-transform: uppercase;
          position: relative;
          overflow: hidden;
          z-index: 1;
          font-weight: 400; }
          @media (max-width: 992px) {
            .page-bg-top header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
              line-height: 10px;
              padding: 1em 5% 13px;
              text-align: left;
              color: var(--blue-color); }
              .page-bg-top header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
                color: var(--white-color) !important; }
                .page-bg-top header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover::before {
                  background: var(--white-color) !important; } }
          .page-bg-top header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:before {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 0%;
            content: '.';
            color: transparent;
            background: var(--dark-yellow);
            height: 1px;
            transition: all .5s; }
          .page-bg-top header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
            color: var(--dark-yellow); }
            .page-bg-top header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover::before {
              width: 100%; }
      .page-bg-top header .navbar .navbar-collapse .navbar-nav .dropdown-toggle:after {
        content: "\f078";
        font-family: 'FontAwesome';
        font-size: 10px;
        border: none;
        padding: 0;
        color: inherit;
        float: right; }
    .page-bg-top header .navbar.scrolled {
      background: #141413f2;
      box-shadow: 0 2px 28px 0 #0000003d; }
      .page-bg-top header .navbar.scrolled .navbar-brand .logo {
        width: 55px; }
        @media screen and (max-width: 600px) {
          .page-bg-top header .navbar.scrolled .navbar-brand .logo {
            width: 40px; } }
    @media all and (min-width: 992px) {
      .page-bg-top header .navbar .dropdown-menu-end {
        right: 0;
        left: auto; }
      .page-bg-top header .navbar .nav-item .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        margin-top: 0;
        transition: all 300ms ease;
        border-radius: 0;
        min-width: 150px;
        transition: .3s;
        top: 100%;
        transform: scaleZ(1);
        width: 150px;
        background: var(--dark-yellow);
        border: 0;
        box-shadow: 0 0 15px 0 #0000001a;
        transform: translate3d(0, 10px, 0); }
      .page-bg-top header .navbar .nav-item:hover .nav-link {
        color: var(--white-color); }
      .page-bg-top header .navbar .dropdown-menu.fade-up {
        top: 180%; }
      .page-bg-top header .navbar .nav-item:hover .dropdown-menu {
        border-radius: 0;
        box-shadow: 0 20px 14px #08080814;
        transition: .3s;
        opacity: 1;
        visibility: visible;
        top: 100%;
        transform: scaleZ(1); } }
    @media (max-width: 991px) {
      .page-bg-top header .navbar-collapse {
        position: fixed;
        top: 53px;
        right: 0;
        min-width: 230px;
        height: 100%;
        background: var(--dark-yellow);
        box-shadow: 0 5px 10px 0 #0006;
        z-index: 9;
        padding: 20px; }
      .page-bg-top header .navbar-collapse.collapsing {
        right: -75%;
        transition: height 0s ease; }
      .page-bg-top header .navbar-collapse.show {
        right: 0;
        transition: right 300ms ease-in-out; }
      .page-bg-top header .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: right 500ms ease-in-out; }
      .page-bg-top header .navbar-toggler {
        border: none;
        outline: none;
        background: transparent;
        color: var(--dark-yellow);
        box-shadow: none; } }

/* Home Section */
.home-section {
  background: #000000c9;
  height: 100vh;
  z-index: 2; }
  .home-section::before {
    content: '';
    background-image: url("../images/single-image.jpg");
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    opacity: 0.2;
    padding: 0.9em 4em 0.9em 4em;
    background-position: top;
    background-size: 100%; }
  @media only screen and (max-width: 600px) {
    .home-section {
      height: 100%; } }
  @media only screen and (min-width: 600px) {
    .home-section {
      height: 100%; } }
  @media only screen and (min-width: 992px) {
    .home-section {
      height: 100%; } }
  @media only screen and (min-width: 1200px) {
    .home-section {
      height: 100%; } }
  .home-section .bg-color-sm h1,
  .home-section .bg-color-sm h2 {
    font-size: 2.3rem;
    letter-spacing: .7px;
    font-weight: 700;
    color: var(--dark-yellow);
    text-transform: capitalize;
    line-height: 40px;
    margin: 20px 0; }
    @media only screen and (min-width: 600px) {
      .home-section .bg-color-sm h1,
      .home-section .bg-color-sm h2 {
        font-size: 1.3rem;
        line-height: 1.2; } }
    @media only screen and (max-width: 600px) {
      .home-section .bg-color-sm h1,
      .home-section .bg-color-sm h2 {
        font-size: 1rem;
        line-height: 1.2; } }
    @media only screen and (min-width: 992px) {
      .home-section .bg-color-sm h1,
      .home-section .bg-color-sm h2 {
        font-size: 1.5rem; } }
    @media only screen and (min-width: 1200px) {
      .home-section .bg-color-sm h1,
      .home-section .bg-color-sm h2 {
        font-size: 2.3rem; } }
  .home-section .bg-color-sm h6 {
    line-height: 1.5;
    font-size: 1.1rem;
    color: var(--white-color);
    font-weight: 600;
    margin: 0 0 20px; }
    @media only screen and (min-width: 600px) {
      .home-section .bg-color-sm h6 {
        font-size: .9rem; } }
    @media only screen and (min-width: 992px) {
      .home-section .bg-color-sm h6 {
        font-size: 1.1rem; } }
  .home-section .bg-color-sm p {
    color: var(--white-color);
    text-align: justify; }

/* Wave effect */
.wave-effect {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 150px;
  overflow: hidden; }

.waves-shape.shape-one {
  z-index: 15;
  opacity: 0.5; }

.waves-shape.shape-two {
  z-index: 10;
  opacity: 0.75; }

.waves-shape.shape-three {
  z-index: 5; }

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom; }

.waves-shape {
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.wave-one {
  background-image: url("../images/wave-1.png");
  background-size: 50% 100px; }

.wave-two {
  background-image: url("../images/wave-2.png");
  background-size: 50% 120px; }

.wave-anim .wave-two {
  -webkit-animation: move-wave 10s linear infinite;
  -moz-animation: move-wave 10s linear infinite;
  animation: move-wave 10s linear infinite; }

.wave-three {
  background-image: url("../images/wave-3.png");
  background-size: 50% 100px; }

.wave-anim .wave-three {
  -webkit-animation: move-wave 15s linear infinite;
  -moz-animation: move-wave 15s linear infinite;
  animation: move-wave 15s linear infinite; }

@keyframes move-wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1); }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55); }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1); } }
.list-custom li {
  padding-left: 25px;
  position: relative;
  text-align: left;
  margin-bottom: 5px; }
  .list-custom li::before {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    top: 7px;
    left: 0px;
    border-radius: 0px 0 0px 0;
    background: var(--blue-color);
    display: block;
    z-index: 1; }

.about-section {
  background: #000000d6;
  background: url(../images/back-img.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-top: 1px solid #b5b5b5;
  position: relative;
  z-index: 0; }
  .about-section:before {
    content: "";
    background: #1b6dc114;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1; }
  .about-section .about-img {
    position: relative;
    padding: 1rem; }
    .about-section .about-img::before {
      content: "";
      background-color: var(--light-arange);
      position: absolute;
      left: -3px;
      top: -3px;
      width: 90%;
      height: 90%;
      border-radius: 10px 0px 10px 0px;
      z-index: -1; }

.team:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #fdc648ab;
  opacity: 0.90;
  z-index: -1;
  content: ""; }
.team .coundown-timer {
  background-color: #1b6dc142;
  padding: 20px 10px;
  text-align: center; }
  .team .coundown-timer h5 {
    color: #000;
    font-weight: 600;
    font-size: 2rem; }
  .team .coundown-timer i {
    color: #000;
    font-weight: 500;
    font-size: 3rem; }
  .team .coundown-timer p {
    font-size: 1.2rem; }

.counter-timer {
  background-color: var(--light-arange); }
  .counter-timer .timer .data {
    text-align: center;
    border-right: 2px solid #000;
    width: 30%; }
    .counter-timer .timer .data h5 {
      color: var(--black);
      font-weight: 600;
      font-size: 2.5rem; }
    .counter-timer .timer .data i {
      color: var(--black);
      font-weight: 500;
      font-size: 3rem; }
    .counter-timer .timer .data p {
      font-size: 1.2rem; }
    .counter-timer .timer .data:last-child {
      border-right: unset; }

/* ----------------------------------------------------------
:: Footer
---------------------------------------------------------- */
.scroll-to-top {
  position: fixed;
  width: 35px;
  height: 35px;
  font-size: 30px;
  line-height: 20px;
  background-color: var(--dark-yellow);
  box-shadow: -4px 4px 0px 0px #01222e;
  right: 20px;
  bottom: 20px;
  border-radius: 5px;
  border: 1px solid var(--dark-yellow);
  cursor: pointer;
  display: none;
  z-index: 1;
  color: #fff;
  transition: .6s ease-in; }
  .scroll-to-top:hover, .scroll-to-top:focus {
    background: var(--blue-color);
    border: 1px solid var(--blue-color);
    outline: 0; }

/*-----------------------*/
footer {
  background: #000000d6;
  background: url(../images/footer-img.webp);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-top: 1px solid #b5b5b5;
  position: relative;
  z-index: 0; }
  footer:before {
    content: "";
    background: #1b6dc140;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1; }
  footer .footer-page {
    padding: 60px 0 0; }
    footer .footer-page p {
      color: #ede4e4b5;
      font-size: 1.2rem;
      font-weight: 600; }
    footer .footer-page .footer-title h5 {
      color: #010225; }
    footer .footer-page .footer-title .footer-bar {
      position: relative;
      margin-bottom: 30px; }
      footer .footer-page .footer-title .footer-bar:before {
        bottom: 0;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        right: 0;
        width: 100px;
        background: var(--blue-color); }
      footer .footer-page .footer-title .footer-bar:after {
        bottom: -5px;
        content: "";
        height: 2px;
        left: 0;
        right: 0;
        position: absolute;
        width: 50px;
        background: var(--blue-color); }
    footer .footer-page .unit {
      display: flex;
      flex: 0 1 100%; }
      footer .footer-page .unit .icon {
        color: var(--white-color); }
    footer .footer-page .icon-xs {
      font-size: 25px;
      line-height: 38px; }
    footer .footer-page .cont-us address,
    footer .footer-page .cont-us a {
      margin-left: 12px;
      font-size: 0.9rem;
      color: var(--white-color);
      font-family: "Raleway", sans-serif;
      font-weight: 500;
      font-size: 0.9rem;
      transition: all 0.6s; }
      footer .footer-page .cont-us address:hover,
      footer .footer-page .cont-us a:hover {
        color: var(--blue-color); }
    footer .footer-page .list-group li {
      padding-left: 28px;
      position: relative; }
      footer .footer-page .list-group li:before {
        content: "\f101";
        position: absolute;
        left: 11px;
        top: 0;
        font-weight: 600;
        color: var(--blue-color);
        font-family: "FontAwesome"; }
      footer .footer-page .list-group li a {
        color: #010225;
        transition: 0.4s; }
        footer .footer-page .list-group li a:hover {
          color: var(--white-color);
          margin-left: 5px; }
    footer .footer-page .social-icon {
      margin: 15px 0 0; }
      footer .footer-page .social-icon .list-inline > li {
        display: inline-block; }
        footer .footer-page .social-icon .list-inline > li .icon-xxs.icon-rect, footer .footer-page .social-icon .list-inline > li .icon-xxs.icon-rounded, footer .footer-page .social-icon .list-inline > li .icon-xxs.icon-circle, footer .footer-page .social-icon .list-inline > li .icon-xxs.icon-outlined {
          width: 33px;
          height: 33px;
          line-height: 33px;
          font-size: 17px; }
        footer .footer-page .social-icon .list-inline > li .icon-circle {
          border-radius: 2px;
          text-align: center; }
        footer .footer-page .social-icon .list-inline > li .icon-gray-light-filled {
          border: none;
          background: #e0e3e7;
          text-decoration: none;
          transition: all .3s linear; }
          footer .footer-page .social-icon .list-inline > li .icon-gray-light-filled:hover {
            color: #fff;
            transform: rotate(360deg); }
        footer .footer-page .social-icon .list-inline > li .fa-facebook:hover {
          background: #395b98; }
        footer .footer-page .social-icon .list-inline > li .fa-instagram:hover {
          background: #F56040; }
        footer .footer-page .social-icon .list-inline > li .fa-twitter:hover {
          background: #2ca7e0; }
        footer .footer-page .social-icon .list-inline > li .fa-google-plus:hover {
          background: #d95139; }
        footer .footer-page .social-icon .list-inline > li .fa-linkedin-square:hover {
          background: #0271ae; }
        footer .footer-page .social-icon .list-inline > li .fa-pinterest:hover {
          background: #c8232c; }
        footer .footer-page .social-icon .list-inline > li .fa-youtube:hover {
          background: #c4302b; }
  footer .footer-bottom {
    padding-top: 20px; }
    footer .footer-bottom .footer-left p {
      color: rgba(255, 255, 255, 0.5);
      font-size: .8rem; }
    footer .footer-bottom .footer-left span {
      color: #FF5100; }
    footer .footer-bottom .footer-right a {
      color: rgba(255, 255, 255, 0.5);
      font-size: .8rem; }

/* ----------------------------------------------------------
:: Scroll to Top CSS
---------------------------------------------------------- */
#totop.top-visible {
  animation: jump 4s infinite; }

#totop.top-visible {
  height: 40px;
  width: 40px;
  font-size: 22px;
  display: inline; }

#totop {
  font-weight: 900;
  color: var(--black-color);
  display: none;
  position: fixed;
  right: 47px;
  top: 90%;
  z-index: 999;
  height: 0;
  width: 0;
  font-size: 0;
  text-align: center;
  padding-top: 3px;
  line-height: 34px;
  border-radius: 3px;
  background-color: var(--dark-yellow);
  transition: .3s ease-in-out; }
  @media screen and (max-width: 992px) and (min-width: 320px) {
    #totop {
      right: 25px;
      top: 80%; } }

@keyframes jump {
  0% {
    bottom: 20px; }
  50% {
    bottom: 40px; }
  100% {
    bottom: 20px; } }
#totop.top-visible {
  animation: jump 4s infinite;
  -webkit-animation: jump 4s infinite; }

/* ----------------------------------------------------------
:: Responsive CSS
---------------------------------------------------------- */
@media (min-width: 1600px) {
  .container {
    max-width: 80%; } }

/*# sourceMappingURL=style.css.map */
