/* ----------------------------------------------------------
:: Mixin CSS
---------------------------------------------------------- */

@mixin transition ($property) {
    -webkit-transition: $property;
    -moz-transition: $property;
    -ms-transition: $property;
    -o-transition: $property;
    transition: $property;
}

@mixin transform ($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
    -o-transform: $property;
    transform: $property;
}

@mixin animation ($property) {
    -webkit-animation: $property;
    -moz-animation: $property;
    -ms-animation: $property;
    -o-animation: $property;
    animation: $property;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/Sofia Pro Regular.woff2') format('woff2'), url('Sofia Pro Regular.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro Light';
    src: url('../fonts/sofiapro-light.woff2') format('woff2'), url('sofiapro-light.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro SemiBold';
    src: url('../fonts/Sofia Pro SemiBold.woff2') format('woff2'), url('Sofia Pro SemiBold.woff') format('woff');
    font-style: normal;
    font-display: swap;
}


/* ----------------------------------------------------------
:: Common CSS
---------------------------------------------------------- */


/* Variables */
$whitesmoke-color: #f5f5f5;
$gray-color: #efefef;
$white-color: #fff;
$black-color: #242424;
$darkgray-color: #2b2b2b;
$blue-color:#1b6dc1;
$yellow-color: #fdc648;
$sandybrown-color: #f4a261;


/* Class */

.gray-color {
    color: $gray-color;
}

.darkgray-color {
    color: $darkgray-color;
}

.bulishblack-color {
    color: $blue-color;
}

.black-color {
    color: $black-color;
}

.tealblue-color {
    color: $blue-color;
}

.goldenochre-color {
    color: $yellow-color;
}

.sandybrown-color {
    color: $sandybrown-color;
}

.whitesmoke-color {
    color: $whitesmoke-color;
}

.bg-goldenochre-color {
    background-color: $yellow-color;
}

.bg-tealblue-color {
    background-color: $blue-color;
}

.bg-banner-size {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.before-after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.red-color {
    color: #dc3545;
}

.green-color {
    color: #198754;
}

.unit-spacing-xs>* {
    margin-bottom: 10px;
    margin-left: 10px;
}

.icon-sm {
    font-size: 2.5rem;
}





/*-------------------------------------------------------------------
:: Common SCSS
-------------------------------------------------------------------*/

html {
    scroll-behavior: smooth;
    font-family: 'Sofia Pro Light';
}

body,
a,
p {
    font-family: 'Sofia Pro Light';
}

* {
    box-sizing: border-box;
    &::before {
        box-sizing: border-box;
    }
    &::after {
        box-sizing: border-box;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 ::selection {
    color: $white-color;
    background: $blue-color;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: $black-color;
    text-decoration: none;
    &:hover,
    &:focus {
        @include transition(all 0.3s ease-out);
        color: $blue-color;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $blue-color;
    margin: 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    line-height: 1.5em;
    /* font-weight: normal; */
    font-family: 'Sofia Pro SemiBold';
}

.text-justify {
    text-align: justify;
}

//* ------:: Buttons----------- */
.btn:focus {
    outline: none;
    box-shadow: none;
    text-decoration: none;
}

.btn-property {
    padding: 0.75em 0.75em;
    position: relative;
    border-radius: 3px;
    z-index: 1;
    overflow: hidden;
    min-width: 170px;
    text-transform: uppercase;
}


/* Section CSS */

.section {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.section-sm {
    padding: 100px 0;
    @media screen and (max-width: 992px) and (min-width: 320px) {
        padding: 60px 0;
    }
}

.section-xs {
    padding: 60px 0;
}




.img-wrap {
    height: 450px;
    overflow: hidden;
    @media only screen and (max-width: 600px) {
        height: 250px;
    }
    @media only screen and (min-width: 600px) {
        height: 300px;
    }
    @media only screen and (min-width: 1200px) {
        height: 450px;
    }
    img {
        height: 100%;
        // width: 100%;
        object-fit: contain;
    }
}

/*------------------button--------------------*/
.default-btn {
    font-size: 16px;
    color: white;
    line-height: 1;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-table;
    padding: 18px 30px;
    font-weight: 600;
    background-color: $yellow-color;
    border-radius: 10px;
    border: none;
    &::before{
       content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: -1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    }
    &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: -1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
    
  
    @media screen and (max-width: 767px) and (min-width: 320px) {
      padding: 8px 12px;
      font-size: 14px;
    }
    @media screen and (max-width: 992px) and (min-width: 767px) {
      padding: 18px 30px;
      font-size: 16px;
    }
    &:hover{
      color: #fff;
      &:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  &:after {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
    }
  }


/* ----------------------------------------------------------
:: Classy Navbar
---------------------------------------------------------- */

.inner-page-bg-top {
    .header-inner {
        position: relative;
    }
}

.page-bg-top {
    position: relative;
    header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1024;
        .navbar {
            transition: 500ms ease;
            background: #0000003d;
            padding: 0.7em 0;
            margin: 0;
            .navbar-brand {
                .logo {
                    width: 70px;
                    @include transition(.3s);
                    @media screen and (max-width: 600px) {
                        width: 35px;
                    }
                    @media only screen and (min-width: 600px) {
                        width: 40px;
                    }
                    @media only screen and (min-width: 992px) {
                        width: 55px;
                    }
                    @media only screen and (min-width: 1200px) {
                        width: 70px;
                    }
                }
            }
            .navbar-collapse {
                .navbar-nav {
                    @media (max-width: 992px) {
                        overflow-y: scroll;
                        height: auto;
                    }
                    .nav-item {
                        list-style: none;
                        margin-right: 30px;
                        position: relative;
                        transition: all 0.3s ease-in-out;
                        display: inline-block;
                        vertical-align: middle;
                        @media (max-width: 600px) {
                            margin-right: 0;
                        }
                        &:last-child {
                            margin-right: 0px!important;
                        }
                        .nav-link {
                            color: $white-color;
                            font-size: 0.9rem;
                            display: block;
                            line-height: 30px;
                            font-weight: 600;
                            padding: 15px 0;
                            opacity: 1;
                            text-align: center;
                            text-transform: uppercase;
                            position: relative;
                            overflow: hidden;
                            z-index: 1;
                            font-weight: 400;
                            @media (max-width: 992px) {
                                line-height: 10px;
                                padding: 1em 5% 13px;
                                text-align: left;
                                color: $blue-color;
                                &:hover {
                                    color: $white-color!important;
                                    &::before {
                                        background: $white-color!important;
                                    }
                                }
                            }
                            &:before {
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                margin: auto;
                                width: 0%;
                                content: '.';
                                color: transparent;
                                background: $yellow-color;
                                height: 1px;
                                transition: all .5s;
                            }
                            &:hover {
                                color: $yellow-color;
                                &::before {
                                    width: 100%;
                                }
                            }
                        }
                    }
                    .dropdown-toggle:after {
                        content: "\f078";
                        font-family: 'FontAwesome';
                        font-size: 10px;
                        border: none;
                        padding: 0;
                        color: inherit;
                        float: right;
                    }
                    
                }
            }
        }
        .navbar.scrolled {
            background: $blue-color;
            box-shadow: 0 2px 28px 0 #0000003d;
            .navbar-brand .logo {
                width: 55px;
                @media screen and (max-width: 600px) {
                    width: 40px;
                }
            }
        }
        /* ============ only desktop view ============ */
        @media all and (min-width: 992px) {
            .navbar .dropdown-menu-end {
                right: 0;
                left: auto;
            }
            .navbar .nav-item .dropdown-menu {
                display: block;
                opacity: 0;
                visibility: hidden;
                margin-top: 0;
                transition: all 300ms ease;
                border-radius: 0;
                min-width: 150px;
                transition: .3s;
                top: 100%;
                transform: scaleZ(1);
                width: 150px;
                background: $yellow-color;
                border: 0;
                box-shadow: 0 0 15px 0 #0000001a;
                transform: translate3d(0, 10px, 0);
            }
            .navbar .nav-item:hover .nav-link {
                color: $white-color;
            }
            .navbar .dropdown-menu.fade-up {
                top: 180%;
            }
            .navbar .nav-item:hover .dropdown-menu {
                border-radius: 0;
                box-shadow: 0 20px 14px #08080814;
                transition: .3s;
                opacity: 1;
                visibility: visible;
                top: 100%;
                transform: scaleZ(1);
            }
        }
        /* ============ desktop view .end// ============ */
        @media (max-width: 991px) {
            .navbar-collapse {
                position: fixed;
                top: 53px;
                right: 0;
                min-width: 230px;
                height: 100%;
                background: $yellow-color;
                box-shadow: 0 5px 10px 0 #0006;
                z-index: 9;
                padding: 20px;
            }
            .navbar-collapse.collapsing {
                right: -75%;
                transition: height 0s ease;
            }
            .navbar-collapse.show {
                right: 0;
                transition: right 300ms ease-in-out;
            }
            .navbar-toggler.collapsed~.navbar-collapse {
                transition: right 500ms ease-in-out;
            }
            .navbar-toggler {
                border: none;
                outline: none;
                background: transparent;
                color: $yellow-color;
                box-shadow: none;
            }
        }
    }
}


/* Home Section */

.home-section {
   
    background: #000000c9;
    height: 100vh;
    z-index: 2;
    &::before {
        content: '';
        background-image: url('../images/single-image.jpg');
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
        left: 0;
        opacity: 0.2;
        padding: 0.9em 4em 0.9em 4em;
        background-position: top;
        background-size: 100%;
        // @media screen and (max-width: 787px) and (min-width: 320px) {
        //     background-color: $red-color;
        //     background-image: none;
        // }
    }
    @media only screen and (max-width: 600px) {
        height: 100%;
    }
    @media only screen and (min-width: 600px) {
        height: 100%;
    }
    @media only screen and (min-width: 992px) {
        height: 100%;
    }
    @media only screen and (min-width: 1200px) {
        height: 100%;
    }
    
    .bg-color-sm {
        h1,
        h2 {
            font-size: 2.3rem;
            letter-spacing: .7px;
            font-weight: 700;
            color: $yellow-color;
            text-transform: capitalize;
            line-height: 40px;
            margin: 20px 0;
            @media only screen and (min-width: 600px) {
                font-size: 1.3rem;
                line-height: 1.2;
            }
            @media only screen and (max-width: 600px) {
                font-size: 1rem;
                line-height: 1.2;
            }
            @media only screen and (min-width: 992px) {
                font-size: 1.5rem;
            }
            @media only screen and (min-width: 1200px) {
                font-size: 2.3rem;
            }
        }
        h6 {
            line-height: 1.5;
            font-size: 1.1rem;
            color: $whitesmoke-color;
            font-weight: 600;
            margin: 0 0 20px;
            @media only screen and (min-width: 600px) {
                font-size: .9rem;
            }
            @media only screen and (min-width: 992px) {
                font-size: 1.1rem;
            }
        }
        p {
            color: $whitesmoke-color;
            text-align: justify;
        }
    }
}

/* Wave effect */
.wave-effect {
    position:absolute;
	z-index:1;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    height:150px;
    overflow:hidden;
}

.waves-shape.shape-one {
    z-index:15;
    opacity:0.5;
}

.waves-shape.shape-two {
    z-index:10;
    opacity:0.75;
}

.waves-shape.shape-three {
    z-index:5;
}

.wave {
    position:absolute;
    left:0;
    width:200%;
    height:100%;
    background-repeat:repeat no-repeat;
    background-position:0 bottom;
    transform-origin:center bottom;
}

.waves-shape {
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wave-one {
	background-image:url('../images/wave-1.png');
    background-size:50% 100px;
}

.wave-two {
	background-image:url('../images/wave-2.png');
    background-size:50% 120px;
}

.wave-anim .wave-two {
    -webkit-animation:move-wave 10s linear infinite;
	   -moz-animation:move-wave 10s linear infinite;
			animation:move-wave 10s linear infinite;
}

.wave-three {
	background-image:url('../images/wave-3.png');
    background-size:50% 100px;
}

.wave-anim .wave-three {
    -webkit-animation:move-wave 15s linear infinite;
	   -moz-animation:move-wave 15s linear infinite;
			animation:move-wave 15s linear infinite;
}

@keyframes move-wave {
    0% {
        transform:translateX(0) translateZ(0) scaleY(1);
    }
	
    50% {
        transform:translateX(-25%) translateZ(0) scaleY(0.55);
    }
	
    100% {
        transform:translateX(-50%) translateZ(0) scaleY(1);
    }
}
.list-custom{
    li{
        padding-left: 25px;
    position: relative;
    text-align: left;
    margin-bottom: 5px;

      &::before{       
            content: "";
            position: absolute;
            height: 10px;
            width: 10px;
            top: 7px;
            left: 0px;
            border-radius: 3px 0 3px 0;
            background: $blue-color;
            display: block;
            z-index: 1;
        
      }  
    }
}
// about-section

.about-section{
.about-img{
    position: relative;
    padding: 1rem;
    &::before{    
    content: "";
    background-color: $blue-color;
    position: absolute;
    left: -3px;
    top: -3px;
    width: 90%;
    height: 90%;
    border-radius: 10px 0px 10px 0px;
    z-index: -1;
    }

}
}

/* ----------------------------------------------------------
:: Footer
---------------------------------------------------------- */

.scroll-to-top {
    position: fixed;
    width: 35px;
    height: 35px;
    font-size: 30px;
    line-height: 20px;
    background-color: $yellow-color;
    box-shadow: -4px 4px 0px 0px #01222e;
    right: 20px;
    bottom: 20px;
    border-radius: 5px;
    border: 1px solid $yellow-color;
    cursor: pointer;
    display: none;
    z-index: 1;
    color: #fff;
    transition: .6s ease-in;
    &:hover,
    &:focus {
        background: $blue-color;
        border: 1px solid $blue-color;
        outline: 0;
    }
}

/*-----------------------*/

footer {
    background: #000000d6;
    // background: url(../images/bg-img/footer-img.png);
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    // position: relative;
    // z-index: 0;
    &:before {
      content: "";
      background: #5C0F8B;
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      z-index: -1;
    }
    .footer-page {
      padding: 60px 0 0;
      p {
        color: #ede4e4b5;
        font-size: 1.2rem;
        font-weight: 600;
      }
      .footer-title {
        h5 {
          color: #ffffff9c;
        }
        .footer-bar {
          position: relative;
          margin-bottom: 30px;
          &:before {
            bottom: 0;
            content: "";
            height: 2px;
            left: 0;
            position: absolute;
            right: 0;
            width: 100px;
            background: $blue-color;
          }
          &:after {
            bottom: -5px;
            content: "";
            height: 2px;
            left: 0;
            right: 0;
            position: absolute;
            width: 50px;
            background: $blue-color;
          }
        }
      }
      .unit {
        display: flex;
        flex: 0 1 100%;
        .icon {
          color: $white-color;
        }
      }
      .icon-xs {
        font-size: 25px;
        line-height: 38px;
      }
      .cont-us {
        address,
        a {
          margin-left: 12px;
          font-size: 0.9rem;
          color:$white-color;
          font-family: "Raleway", sans-serif;
          font-weight: 500;
          font-size: 0.9rem;
          transition: all 0.6s;
          &:hover {
            color: $blue-color;
          }
        }
      }
      .list-group {
        li {
          padding-left: 28px;
          position: relative;
          &:before {
            content: "\f101";
            position: absolute;
            left: 11px;
            top: 0;
            font-weight: 600;
            color: $blue-color;
            font-family: "FontAwesome";
          }
          a {
            color: $white-color;
            transition: 0.4s;
            &:hover {
              color: $white-color;
              margin-left: 5px;
            }
          }
        }
      }
      .social {
        @media screen and (max-width: 767px) and (min-width: 320px) {
          margin: 17px auto;
        }
        .icon {
          width: 42px;
          height: 42px;
          color: #ffffff;
          background: #00000014;
          text-align: center;
          display: inline-block;
          vertical-align: middle;
          line-height: 40px;
          font-size: 1rem;
          margin: 3px;
          transition: all 0.3s;
          &:hover {
            transform: rotate(360deg);
            color: #fff;
          
          }
        }
        .fa-facebook:hover {
            background: #395b98;
          
        }
        .fa-twitter:hover {
            background: #2ca7e0;
          color: #fff;
        }
        .fa-linkedin:hover {
          background: #2ca7e0;
          color: #fff;
        }
        .fa-instagram:hover {
          background: #FD1D1D;
         
        }
        .fa-youtube:hover {
          background: red;
          color: #fff;
        }
      }
    }
    .footer-bottom {
      // color: #fff;
      // background-color: #000000bf;
      // position: relative;
      padding-top: 20px;
      .footer-left {
        p{
            color: rgba(255, 255, 255, 0.5);
            font-size: .8rem;
        }
        span {
          color:#FF5100;
        }
      }
      .footer-right {
        a {
          color: rgba(255, 255, 255, 0.5);
          font-size: .8rem;
        }
      }
    }
  }



/* ----------------------------------------------------------
:: Responsive CSS
---------------------------------------------------------- */

@media (min-width: 1600px) {
    .container {
        max-width: 80%;
    }
}